<div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="{{project.desktopImg}}" >
  </div>
  <div class="media-body">
    <h1>{{project.title}}</h1>
    <span class="muted">by</span>
    <a href="#/players/{project.genre}}">
      {{project.title}}
    </a>
    {{ project.link }}
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="shot_image" ng-src="{{project.desktopImg}}">
    <div class="page-header">
      <h2>Responses</h2>
    </div>
    <div ng-repeat = "comment in comments.comments" class="media comment">
      <div class="pull-left">
        <img class="media-object" ng-src="{{project.description}}">
      </div>
      <div class="media-body">
        <strong>
          <a href="#/projects/{{project.id}}">
            {{project.id}}
          </a>
        </strong>
      </div>
    </div>
  </div>

