<div class="welcome" ng-controller='homeCtrl'>
	<h1>Welcome Flickr Users</h1>
	<div class="row">
		<button type="submit" ng-click='getImages()'>Grab Images here</button>
		<div>
	    <ul class="thumbnails projects">
	      <li class="shot span3 " ng-repeat="project in result.projects">
	        <div class="thumbnail">
	          <a href="#/projects/{{project.id}}">
	            <img ng-src="{{project.thumb}}">
	          </a>
	          <strong class="title">{{project.title}}</strong>
	          <a class="player" href="#/players/{{project.player.username}}">
	            {{project.genre}}
	          </a>
	          <div class="stats">
	            <span class="stat">
	              <i class="icon-eye-open"></i>
	              {{ project.id }}
	            </span>
	            <span class="stat">
	              <i class="icon-comment"></i>
	              {{ project.comments_count }}
	            </span>
	          </div>
	        </div>
	      </li>
	    </ul>
	</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
